<div class="row">
    <div class="col-md-6">
          <h2>Make a post!</h2>
            <form class="create-form">

              <div class="form-group">
                <label for="newUser">post-name: </label>
                <input type="text" id="newUser" name="username">
              </div>
              <div class="form-group">
                <label for="newPost">comment: </label>
                <input type="text" id="newPost" name="user_post">
              </div>

              <button class="btn btn-primary" type="submit">Post</button>
            </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{#each posts}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{username}}</h5>
                    <p class="card-text">{{user_post}}</p>
                </div>
            </div>
        {{/each}}    
    </div>
</div>