<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="/">THE STOP USING NOTES APP APP</a>
  <span class="navbar-text">
      Need an account? <a class="navbar-brand" href="/signup">Signup</a>
    </span>
</nav>
<br>

<div class="container">
    <h2>Welcome to the STOP USING NOTES APP APP</h2>

    <p><h5>Save your shit so you can actually remember what that link even is and what you were even thinking at the time, bro</h5></p>
</div>

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Login</h1>

        <!-- LOGIN FORM -->
        <form action="/login" method="POST">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
    </div>
</div>